<!DOCTYPE html>
{% load static %}

<html>
<head>
  <script src={% static 'js/jq.js' %}></script>
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
  <script src={% static 'js/bootstrap.js' %}></script>

</head>
<body>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container2 {
  padding: 2px 16px;
}
</style>
<form align="center">
  <input name="github" id="username" type="text" placeholder="GitHub Username">
  <button id="submit">Submit</button>
</form>



<div class="container" align="center">
  <div class="card">
    <a href="{{html_url}}"><img src="{{avatar_url}}" alt="Avatar" style="width:100%"></a>
    <div class="container2">
      <h4><b>{{login}}</b></h4>
      <p>{{bio}}</p>
      <p><a href="{{repos_url}}">Repos: {{public_repos}}</a></p>
    </div>
  </div>
</div>

<script>
document.getElementById('submit').addEventListener('click', function() {
    var formdata = new FormData();
    username = formdata.get("github")
    var request = new XMLHttpRequet();
    request.open('POST', '/getuser', true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    request.send(username)

});


</script>
</body>
</html>
