<!DOCTYPE html>
{% load static %}

<html>
<head>
  <script src={% static 'js/jq.js' %}></script>
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
  <script src={% static 'js/bootstrap.js' %}></script>

</head>
<body>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container2 {
  padding: 2px 16px;
}

ul{
  font-size: 20px;
  padding-left: 10px;
  list-style: none;
  display: inline-flex;
  margin: 0;

}
li{
  padding-left: 10px
}

.footer {
   border-top: solid;
   border-color: #00000029;
   border-width: 1px;
   left: 0;
   bottom: 0;
   width: 100%;

   text-align: center;
}
</style>
<form align="center" >
  {%csrf_token%}
  <input type="text" id="username" name="github" placeholder="GitHub Username">
  <button id="submit">Submit</button>
</form>



<div class="container" align="center">
  <div class="card">
    <a id="login_url" href="{{html_url}}"><img id="avatar_url"src="{{avatar_url}}" alt="Avatar" style="width:100%"></a>
    <div class="container2">
      <h4 id="login"><b>{{login}}</b></h4>
      <p id="bio">{{bio}}</p>
      <p id="repos">Repos: {{public_repos}}</p>

    </div>
    <div class="footer">
      <ul>
        <li id="followers">Followers: {{followers}}</li>
        <li id="following">Following: {{following}}</li>
      </ul>
    </div>
  </div>
</div>

<script>

document.getElementById('submit').addEventListener('click', function(e) {
    e.preventDefault();
    var request = new XMLHttpRequest();
    var username = document.getElementById("username").value;
    var data = `{"gitusername": "${username}"}`;

    request.open('POST', '/getuser', true);
    request.setRequestHeader('X-CSRFToken', cookies['csrftoken']);
  //  request.setRequestHeader('Content-Type', 'x-www-form-urlencoded');
    request.send(data);

    request.onreadystatechange = function(){
      if(request.readyState === 4 && request.status === 200){
        var parsedData = JSON.parse(request.responseText);
        //console.log(parsedData['login']);
        document.getElementById("login").innerHTML = parsedData['login'];
        document.getElementById("bio").innerHTML = parsedData['bio'];
        document.getElementById("login_url").href = parsedData['html_url'];
        document.getElementById("avatar_url").src = parsedData['avatar_url'];
        document.getElementById("repos").innerHTML = "Repos: " + parsedData['public_repos'];
        document.getElementById("followers").innerHTML = "Followers: " + parsedData['followers'];
        document.getElementById("following").innerHTML = "Following: " + parsedData['following'];


      }
    }
});
</script>





<script>
function parse_cookies() {
    let cookies = {};
    if (document.cookie && document.cookie !== '') {
        document.cookie.split(';').forEach(function (c) {
            let m = c.trim().match(/(\w+)=(.*)/);
            if(m !== undefined) {
                cookies[m[1]] = decodeURIComponent(m[2]);
            }
        });
    }
    return cookies;
}
let cookies = parse_cookies();
</script>
</body>
</html>
